* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --bg-color: #283618;
    --font-color: #ffffff;
    --span-color: #fb6117;
    --section-color: #606c38;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 1.2rem;
    min-width: 320px;
    max-width: 480px;
}

header {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

header nav {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bar-btn {
    margin-right: 20px;
    cursor: pointer;
}
.nav-list {
    width: 100%;
    height: 0vh;
    top: 100px;
    text-align: center;
    transition: all .5s;
    background-image: url("assets/layered-waves-haikei.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-list li {
    display: none;
    font-size: 2.5rem;
    list-style: none;
    margin: 50px 0;
    transition: all .5s;
}
.nav-list li a {
    text-decoration: none;
    color: var(--font-color);
    text-align: center;
    text-transform: uppercase;
    font-weight:500;
}
.nav-list li a:hover {
    color: var(--span-color);
    transition: .3s;
}
.nav-list li a:active {
    color: yellow;
}
.bar-btn:active {
    transform: rotateY(50deg);
}
#check {
    display: none;
}
#check:checked ~ .nav-list {
    height: 65vh;
}
#check:checked ~ .nav-list li {
    display: block;
}

.about-section {
    width: 100%;
    height: 650px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container .perfil-photo {
    position: relative;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 5px solid var(--section-color);
    z-index: 1;
    margin-bottom: 20px;
}
.title-container .pin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
    position: absolute;
    width: 200px;
    height: 300px;
}
.title-container .pin-container h1 {
    font-family: 'Merriweather', serif;
    margin-left: 130px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 3rem;
    z-index: 2;
}
.title-container div {
    width: 10%;
}
.title-container .vertical-text p {
    font-size: 2.5rem;
    margin-left: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    writing-mode:vertical-lr;
    color: var(--span-color);
}

.about-container {
    height: 350px;
    background-color: #606c38;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.about-container h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.about-container p {
    text-align: justify;
    line-height: 20px;
    font-size: 1.5rem;
}
.about-container span {
    color: #fb6117;
    font-weight: 700;
}

.portfolio-section {
    margin-top: 30px;
}
.portfolio-section h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300; 
    margin-bottom: 20px;  
}
.portfolio-section h2 span {
    color: #fb6117;
    font-weight: 700;
}

.img-portfolio-container {
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--section-color);
}
.img-portfolio-container p {
    color: var(--font-color);
    font-size: 1.5rem;
    font-weight: 400;
}
.img-portfolio-container a {
    text-decoration: none;
}
aside {
    margin-top: 30px;
}
aside h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300; 
    margin-bottom: 20px;  
}
aside h2 span {
    color: #fb6117;
    font-weight: 700;
}

aside form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
aside form .input {
    border: 1px solid var(--span-color);
    background-color: var(--bg-color);
    padding: 15px;
    border-radius: 10px;
}
aside form .input::placeholder {
    color: rgb(216, 216, 107);
    font-family: 'Roboto', sans-serif;
}
aside form textarea {
    border: 1px solid var(--span-color);
    background-color: var(--bg-color);
    border-radius: 10px; 
}
aside form textarea::placeholder {
    color: rgb(216, 216, 107);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
aside form input[type=submit] {
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: #fb6117 solid 1px;
    background-color: #fb6117;
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 30px;
    cursor: pointer;
}

footer {
    background-color: var(--span-color);
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.social-media-container img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor:pointer;
}


